# Configs
.DS_Store
commitlint

# IDE files and folders
.vscode/*
!.vscode/settings.json

# Logs
*.log
*.heapsnapshot
.nyc_output/

# Dependency directory
node_modules

# tests
reports

# OS X
.DS_Store


